<div class="container">
<!-- Header -->
<div class="page-header">
	<div class="media">
  		<div class="media-left">
    		<a href="#">
      			<img class="media-object img-circle" src="images/batman.png" alt="batman" style="height:25%;">
    		</a>
  		</div>
		<div class="media-body media-middle">
    		<h3 class="media-heading">Lets learn something new today</h3>
  		</div>
	</div>
</div>

<!-- Teacher Recommendation Panel-->
<div class="panel panel-default">
  <!-- Default panel contents -->
	<div class="panel-heading">Tutor Recommendation</div>
  	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6 col-md-3">
    			<div class= "tutor-card">
    				<p><img class="tutor-image" src="images/hulk.png" alt="batman"></p>
    				<div class="tutor-intro">
       				<p class="tutor-name">Dr. Hulk</p>
       				<p>This class is for introducing cloud computing technologies</p>
       				<p><a href="#" class="btn btn-default" role="button">Learn</a></p>
    				</div>
    			</div>
  			</div>
			<div class="col-sm-6 col-md-3">
    			<div class= "tutor-card">
    				<p><img class="tutor-image" src="images/captain.png" alt="batman"></p>
    				<div class="tutor-intro">
       				<p class="tutor-name">Captain America</p>
       				<p>This class is for introducing cloud computing technologies</p>
       				<p><a href="#" class="btn btn-default" role="button">Learn</a></p>
    				</div>
    			</div>
  			</div>
  			<div class="col-sm-6 col-md-3">
    			<div class= "tutor-card">
    				<p><img class="tutor-image" src="images/ironman.png" alt="batman"></p>
    				<div class="tutor-intro">
       				<p class="tutor-name">Er. Ironman</p>
       				<p>This class is for introducing cloud computing technologies</p>
       				<p><a href="#" class="btn btn-default" role="button">Learn</a></p>
    				</div>
    			</div>
  			</div><div class="col-sm-6 col-md-3">
    			<div class= "tutor-card">
    				<p><img class="tutor-image" src="images/vision.png" alt="batman"></p>
    				<div class="tutor-intro">
       				<p class="tutor-name">Mr. Vision</p>
       				<p>This class is for introducing cloud computing technologies</p>
       				<p><a href="#" class="btn btn-default" role="button">Learn</a></p>
    				</div>
    			</div>
  			</div>
		</div>
  	</div>
</div> <!-- Teacher Recommendation Panel-->

<!-- Course Recommendation Panel-->
<div class="panel panel-default">
  <!-- Default panel contents -->
	<div class="panel-heading">Course Recommendation</div>
  	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6 col-md-3">
    			<p class="course-title">CMPE273</p>
    			<div class="course-intro">
       			<p class="course-name">Enterprise Software Platforms</p>
       			<p>This class is for introducing cloud computing technologies</p>
       			<p>
       			<a href="#" class="btn btn-default" role="button">Learn</a></p>
    			</div>
  			</div>
			<div class="col-sm-6 col-md-3">
    			<p class="course-title">CMPE281</p>
    			<div class="course-intro">
       			<p class="course-name">Cloud Computing</p>
       			<p>This class is for introducing cloud computing technologies</p>
       			<p>
       			<a href="#" class="btn btn-default" role="button">Learn</a></p>
    			</div>
  			</div>
  			<div class="col-sm-6 col-md-3">
    			<p class="course-title">CMPE280</p>
    			<div class="course-intro">
       			<p class="course-name">Web UI development</p>
       			<p>This class is for introducing cloud computing technologies</p>
       			<p>
       			<a href="#" class="btn btn-default" role="button">Learn</a></p>
    			</div>
  			</div>
  			<div class="col-sm-6 col-md-3">
    			<p class="course-title">CMPE281</p>
    			<div class="course-intro">
       			<p class="course-name">Cloud Computing</p>
       			<p>This class is for introducing cloud computing technologies</p>
       			<p>
       			<a href="#" class="btn btn-default" role="button">Learn</a></p>
    			</div>
  			</div>
		</div>
  	</div>
</div> <!-- Course Recommendation Panel-->

</div> <!-- /container -->